.social-login   
    button.social-login__github 
        span  
            i.fa-brands.fa-github
        |Continue with Github 
    button.social-login__facebook 
        span 
            i.fa-brands.fa-facebook
            |Continue With Facebook
            