.social-login   
    button.social-login--github 
        a(href=routes.gitHub)
            span  
                i.fa-brands.fa-github
            |Continue with Github 
    button.social-login--facebook 
        a(href=routes.facebook)
            span 
                i.fa-brands.fa-facebook
            |Continue With Facebook
            